
# Data files
data/raw/*.json
data/processed/*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Models
models/saved/*.pkl
*.h5

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
